/target
.DS_STORE
/.classpath
/.project
/.settings/
/.idea/
affine-fusion
clear-interestpoints
clear-registrations
cp.txt
create-fusion-container
dependency-reduced-pom.xml
detect-interestpoints
downsample
filter-views
fusion
match-intensities
match-interestpoints
nonrigid-fusion
overlay-landmarks
resave
solve-intensities
solver
split-images
stitching
transform-points
bigstitcher-spark
BigStitcher-Spark-*-local.jar
BigStitcher-Spark-*-cluster.jar
*.part
